h1 {
    color: rgb(255, 255, 255);
    font-size: 96px;
    background-color: rgb(236, 64, 52); 
}

p {
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;
    color: rgb(60, 122, 65); 
}

a {
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;
    color: rgb(52, 79, 236);
    border: solid rgb(255, 255, 255) 4px;
}

hr {
    border-width: 50px;
    border-color: rgb(60, 122, 65);
}

.image {
    border: solid rgb(155, 69, 226);
    border-radius: 50px;
}

.header {
    background-color: rgb(236, 64, 52);
    border-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}


.grid {
    background-color: rgb(236, 64, 52);
    border: solid rgb(255, 255, 255) 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    padding: 1%;
    background-color: rgb(255, 255, 255);
    border: solid rgb(236, 64, 52) 4px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    background: rgb(231, 155, 150);
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    background:rgb(236, 64, 52);
}

.navigation a:hover {
    background: rgb(128, 11, 0);
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

